* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#fcf5f8, #edeaf8, #eaf3fc,#dae8fa, #eaf3fc, #edeaf8, #fcf5f8);
    height: auto;
}

div.main_title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98%;
    height: 370px;
    margin: 90px auto;
}

.coll-1, .coll-2 {
    height: 370px;
    margin: 0;
}
.coll-2 {
    width: 70%;
}
.coll-1 {
    width: 30%;
}

img.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    height: 100%;
}
@media screen and (max-width: 800px) {
    div.main_title {
        flex-wrap: wrap;
    }
    .coll-1, .coll-2 {
        width: 100%;
    }
    .coll-1 {
        height: 40vh;
    }
}